



body {
    margin: 0px;
}
#main {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

#quote {
    width: 500px;
    height: 300px;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#saidso {
    font-size: 20px;
    line-height: 36px;
    font-family: "Ubuntu";
 }

 #author {
    font-size: 18px;
    line-height: 32px;
    align-self: flex-end;
    font-family: "Verdana";
  }


#Btn {
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    align-self: center;
    margin-top: 20px;
    padding:10px;
    background: white;
    outline: none;
    cursor: pointer;
}